// Sizes
// -----------------------------------------------------------------------------

$size-base:                         1rem;
$size-xs:                           0.25rem;
$size-sm:                           0.5rem;
$size-lg:                           2rem;
$size-xlg:                          4rem;
$size-xxlg:                         6rem;
