// Typography
// -----------------------------------------------------------------------------

$font-family-base:                  "Lato", Helevtica, Arial, sans-serif;
$font-family-heading:               $font-family-base;
$font-weight-base:                  500;
$font-weight-bold:                  600;
$font-weight-black:                 800;

// Font Sizes
// -----------------------------------------------------------------------------

$font-size-root:                    14px;
$font-size-xs:                      0.7rem;
$font-size-sm:                      0.9rem;
$font-size-base:                    1.0rem;
$font-size-lg:                      1.3rem;
$font-size-xlg:                     1.5rem;
$font-size-xxlg:                    1.7rem;
$font-size-xxxlg:                   2.1rem;

// Line height
// -----------------------------------------------------------------------------

$line-height-base:                  1.5;
$line-height-heading:               1.2;
