 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <div class="jumbotron media">
        <img src="./img/screenshot.png" class="media-object pull-right jumbotron-screenshot">

        <div class="media-body">
            <h1>Analytics Workbench</h1>
            <p>Welcome to the free web-based Analytics Workbench!</p>
            <p><a class="btn btn-primary" role="button" href="./workbench">Classic UI &raquo;</a>
            <a class="btn btn-primary" role="button" href="./mobile">Mobile UI &raquo;</a></p>
        </div>
        <!--
        <div class="container-screenshot">
            <img src="img/screenshot.png" width="200px">
        </div>
        -->
    </div>
</div>