@import "/Users/farbodaprin/Desktop/WorkbenchAnalysis/UI/clientV2/src/styles/config/index.scss";
@import "/Users/farbodaprin/Desktop/WorkbenchAnalysis/UI/clientV2/src/styles/mixins/index.scss";


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.circle {
    animation: rotate 800ms linear infinite;
}
