@import '~styles/config/index';
@import '~styles/mixins/index';

.container {}

.title {
    font-size: $font-size-lg;
    font-weight: $font-weight-black;
    text-transform: uppercase;
    margin-bottom: $size-lg;
}

.results {
    margin-left: -$size-lg;
    margin-right: -$size-lg;
}
