@import '~styles/config/index';
@import '~styles/mixins/index';

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $colors-black-95;
}

.logo {
    position: absolute;;
    left: $size-lg;
    top: $size-lg;
    z-index: $zindex-logo;

    font-size: $font-size-lg;
    font-weight: $font-weight-black;
    color: $colors-white;
    text-transform: uppercase;
}
