<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


<% include includes/head %>

<body>

<% include includes/navbar %>

    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h3>User Management</h3>

                <hr class="divider" />

                <h4>Users</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div id="spinUser"></div>
                        <select class="form-control" id="menu_select_users"></select>
                    </div>
                    <div class="col-md-6">

                        <button type="button" class="btn btn-primary btn-block" id="btn_modifyUser">Edit user</button>
                        <button type="button" class="btn btn-default btn-block" id="btn_addUser">New user</button>
                        <button type="button" class="btn btn-default btn-block"id="btn_deleteUser">Delete user</button>

                    </div>
                </div>

                <hr class="divider" />

                <h4>Groups</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div id="spinGroups"></div>
                        <select class="input-medium form-control" multiple="multiple" id="menu_select_groups">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block" id="btn_createUserDialog_btn_addUserToGroups">User -> group(s)</button>
                        <button type="button" class="btn btn-default btn-block" id="btn_addGroup">New group</button>
                        <button type="button" class="btn btn-default btn-block" id="btn_deleteGroups">Delete group(s)</button>
                    </div>
                </div>

                <hr class="divider" />

                <h4>Roles</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div id="spinRoles2"></div>
                        <select class="input-medium form-control" multiple="multiple" id="menu_select_roles">
                        </select>

                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-block" id="btn_addUserRole">User -> role(s)</button>
                        <!--
                        <button type="button" class="btn btn-default btn-block" id="btn_addRole">New role</button>
                        <button type="button" class="btn btn-default btn-block" id="btn_removeRole">Delete role(s)</button>
                        -->
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <h3>Selected User - Details</h3>
                <hr class="divider" />

                <!--
                <div class="row">
                    <div class="col-md-2">Name:</div>
                    <div class="col-md-10">
                        <h4 id='userName'></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">E-Mail:</div>
                    <div class="col-md-10">
                        <h4 id='userEmail'></h4>
                    </div>
                </div>
                -->

                <label>Name:</label>
                <div class="well well-sm" id="userName"></div>

                <label>E-Mail:</label>
                <div class="well well-sm" id="userEmail"></div>

                <hr class="divider" />

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Role(s):</label>
                            <div style="max-width: 20px" id="spinRoles"></div>
                            <!--<select class="input-medium" id="userDetails_select_roles">-->
                            <select class="input-medium form-control" multiple="multiple"
                                id="userDetails_select_roles">
                            </select>
                        </div>
                        <button type="button" class="btn btn-default btn-block" id="btn_removeUserRole">Remove selected roles</button>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Group(s):</label>
                            <div style="max-width: 20px" id="spinGroups2"></div>
                            <select class="input-medium form-control" multiple="multiple"
                                id="userDetails_select_groups">
                            </select>
                        </div>
                        <button type="button" class="btn btn-default btn-block" id="btn_removeUserFromGroup">Remove selected groups</button>

                    </div>
                </div>

                <hr class="divider" />

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block"
                        id="btn_saveUserDetails">Save changes</button>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">

                <!-- title -->
                <h3>Workflow Manager Options</h3>

                <hr class="divider" />
                <!-- agentcheck -->
                <h4>Agent Check</h4>

                <form name="wfm_agentCheck">

                    <div class="checkbox">
                        <label> <input type="checkbox" id="wfm_input_ifAgentCheck">
                            Agent Check enabled
                        </label>
                    </div>
                </form>

                <!-- agentcheck params -->
                <div id="wfm_agentCheckParams">
                    <div id="wfm_changeAgentCheckRate" class="form-group">
                        <label for="wfm_input_changeAgentCheckRate">Agent
                            check rate (in seconds):</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="wfm_input_changeAgentCheckRate"
                                placeholder="enter a number">
                            <span class="input-group-btn">
                                <button id="wfm_btn_changeAgentCheckRate" type="button"
                                    class="btn btn-primary">Change</button>
                            </span>
                        </div>
                    </div>

                    <div id="wfm_changeMinRepititionInterval" class="form-group">
                        <label for="wfm_input_changeMinRepititionInterval">Minimal
                            time between two executions (in seconds):</label>
                        <div class="input-group">
                            <input type="number" class="form-control"
                                id="wfm_input_changeMinRepititionInterval"
                                placeholder="enter a number">
                            <span class="input-group-btn">
                                <button id="wfm_btn_changeMinRepititionInterval" type="button"
                                    class="btn btn-primary">Change</button>
                            </span>
                        </div>
                    </div>
                </div>

                <hr class="divider" />

                <!-- logging -->
                <h4>Logging</h4>

                <form name="wfm_logging" role="form">

                    <div class="checkbox">
                        <label> <input type="checkbox" id="wfm_input_ifLogfile">
                            Logfile enabled
                        </label>
                    </div>

                    <div class="checkbox">
                        <label> <input type="checkbox" id="wfm_input_ifMail">
                            E-mail notification enabled
                        </label>
                    </div>

                </form>

                <!-- Email options -->
                <div id="mailOpts">

                    <hr class="divider" />

                    <h4>Email</h4>

                    <div class="row">

                        <div class="col-md-6">

                            <h5>mail options</h5>

                            <hr class="divider" />

                            <form name="wfm_mailOptions" role="form">

                                <div class="form-group">
                                    <label for="wfm_input_mailSender">Sender:</label> <input
                                        type="email" class="form-control" id="wfm_input_mailSender">
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_mailReceivers">Receivers (1, 2,
                                        ...):</label>
                                    <textarea class="form-control" id="wfm_input_mailReceivers"
                                        rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_mailSubject">Subject:</label> <input
                                        type="text" class="form-control" id="wfm_input_mailSubject">
                                </div>

                                <hr class="divider" />

                                <button id="wfm_btn_saveMailOpts" type="button"
                                    class="btn btn-primary btn-block">Change</button>

                                <hr class="divider" />

                                <button id="wfm_btn_sendTestMail" type="button"
                                        class="btn btn-success btn-block">Send test mail</button>
                            </form>
                        </div>

                        <div class="col-md-6">

                            <h5>smtp options</h5>

                            <hr class="divider" />

                            <form name="wfm_smtpOptions" class="">

                                <div class="form-group">
                                    <label for="wfm_input_smtpService">Service:</label> <input
                                        type="text" class="form-control" id="wfm_input_smtpService">
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_smtpHost">Host:</label> <input type="text"
                                        class="form-control" id="wfm_input_smtpHost">
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_smtpPort">Port:</label> <input
                                        type="number" class="form-control" id="wfm_input_smtpPort">
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_smtpUserName">Username:</label> <input
                                        type="text" class="form-control" id="wfm_input_smtpUserName">
                                </div>

                                <div class="form-group">
                                    <label for="wfm_input_smtpUserPassword">Password:</label> <input
                                        type="password" class="form-control"
                                        id="wfm_input_smtpUserPassword">
                                </div>
                                <hr class="divider" />

                                <button id="wfm_btn_saveSmtpOpts" type="button"
                                    class="btn btn-primary btn-block">Change</button>
                            </form>
                        </div>

                    </div>
                    <!-- end mail options (row) -->
                </div>
                <!-- end mail opts -->

            </div>
            <!-- end col wfm  -->

            <div class="col-md-6">

                <h3>Workflow Manager Execution Interface</h3>

                <hr class="divider" />

                <h4>Webservice</h4>

                <div>

                    <div>
                        <p>
                            Status:&nbsp; <span id="wfm_webserviceOn"
                                class="label label-success">On</span> <span
                                id="wfm_webserviceOff" class="label label-danger">Off</span>
                            &nbsp;&nbsp;&larr;&nbsp;click to switch
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="wfm_input_webservicePortnumber">listening on port:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="wfm_input_webservicePortnumber">
                            <span class="input-group-btn">
                                <button id="wfm_btn_changeWebservicePortnumber" type="button" class="btn btn-primary">Change</button>
                            </span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <!-- ############################################################### -->
    <!-- ############################################################### -->
    <!-- ############################################################### -->
    <!-- ############################################################### -->


    <!-- CreateUserDialog -->
    <div id="createUserDiag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="dialogLabelCreateUser">Create user account</h3>
                </div>

                <div class="modal-body" id="createUserDialog">

                    <form class="form-horizontal" id="cu_submitForm">
                        <div class="control-group">
                            <label class="control-label" for="cu_inputEmail">Email</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="cu_inputEmail" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cu_inputName">Name</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="cu_inputName" placeholder="Name"name="name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="cu_inputPassword">Password</label>
                            <div class="controls">
                                <input class="form-control" type="password" id="cu_inputPassword" placeholder="Password" name="password">
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-success" id="createUserDialog_result_pos">User <b id="createUserDialog_user"></b> User account created!</div>
                    <div class="alert alert-danger" id="createUserDialog_result_neg">Name already in use!</div>
                    <div class="alert alert-danger" id="createUserDialog_result_neg_mail">Email already in use!</div>
                    <div class="alert alert-danger" id="createUserDialog_check_cred">Please fill in all fields!</div>

                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" id="createUserDialog_btn_close">Close</button>
                    <button class="btn btn-primary" type="submit" id="createUserDialog_btn_create">Create user</button>
                </div>

            </div>
        </div>
	</div>

    <!-- ModifyUserDialog -->
    <div id="modifyUserDiag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="dialogLabelModifyUser">Modify user account</h3>
                </div>

                <div class="modal-body" id="ModifyUserDialog">
                    <form class="form-horizontal" id="mu_submitForm">
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="mu_userName" readonly>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mu_inputEmail">Email</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="mu_inputEmail" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mu_inputPassword">Password</label>
                            <div class="controls">
                                <input class="form-control" type="password" id="mu_inputPassword" placeholder="Password" name="password">
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger" id="modifyUserDialog_result_neg">Email already in use!</div>
                    <div class="alert alert-success" id="modifyUserDialog_result_pos">User <b id="modifyUserDialog_user"></b> User account modified!</div>
                    <div class="alert alert-danger" id="modifyUserDialog_check_cred">Please fill in all fields!</div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" id="modifyUserDialog_btn_close">Close</button>
                    <button class="btn btn-primary" type="submit" id="modifyUserDialog_btn_create">Modify user</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CreateGroupDialog -->
    <div id="createGroupDiag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="dialogLabel">Create group</h3>
                </div>

                <div class="modal-body" id="createGroupDialog">
                    <form class="form-horizontal" id="createGroup_submitForm">
                        <div class="control-group">
                            <label class="control-label">Group name</label>
                            <div class="controls">
                                <input class="form-control" type="text" id="createGroup_inputName" placeholder="Group name" name="groupName">
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-success" id="createGroupDialog_result_pos">Group <b id="createGroupDialog_user"></b> created!</div>
                    <div class="alert alert-danger" id="createGroupDialog_result_neg">Name already in use!</div>
                    <div class="alert alert-danger" id="createGroupDialog_check_cred">Please fill in name!</div>

                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" id="createGroupDialog_btn_close">Close</button>
                    <button class="btn btn-primary" type="submit" id="createGroupDialog_btn_create">Create group</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DeleteUserDialog -->
    <div id="deleteUserDiag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="delete_dialogLabel">Delete user account</h3>
                </div>

                <div class="modal-body" id="deleteUserDialog">
                    <div class="alert alert-danger" id="deleteUserDialog_check_delete">Do you really want to delete User <strong id="delete_userNameMessage"></strong>?</div>
                    <div class="alert alert-success" id="deleteUserDialog_deleted">User-Account <strong id="delete_userName"></strong> deleted!</div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" id="deleteUserDialog_btn_close">Close</button>
                    <button class="btn btn-primary" type="submit" id="deleteUserDialog_btn_delete">Delete user</button>
                </div>
            </div>
        </div>
    </div>

    <!-- DeleteGroupDialog -->
    <div id="deleteGroupDiag" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="deleteGroup_dialogLabel">Delete group(s)</h3>
                </div>

                <div class="modal-body" id="deleteGroupDialog">
                    <div class="alert alert-danger" id="deleteGroupDialog_check_delete">Do you really want to delete group(s) <strong id="delete_groupNameMessage"></strong>?</div>
                    <div class="alert alert-success" id="deleteGroupDialog_deleted">Group(s) <strong id="delete_groupName"></strong> deleted!</div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true" id="deleteGroupDialog_btn_close">Close</button>
                    <button class="btn btn-primary" type="submit" id="deleteGroupDialog_btn_delete">Delete group</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Response Dialog -->
    <!-- TODO -->
    <div id="responseDialog"></div>


	<% include includes/footer %>


	<!-- Placed at the end of the document so the pages load faster -->

	<script src="./lib/jquery-1.10.2.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./js/administration.js"></script>
	<script src="./lib/spin.min.js"></script>
	<script src="./lib/jquery.spin.js"></script>
	<script>
		$(document).ready(startAdministration());
	</script>
</body>
</html>