<!DOCTYPE html>
<html>

<% include includes/head %>

<body>

<% include includes/navbar %>

<!-- PLACE PAGE CONTENT HERE -->

<div class="container">
    <h3>Citing the workbench</h3>
    <p>If you use the <em>Analytics Workbench</em> in scientific projects, please cite the following publication:</p>
    <p>Göhnert, T., Harrer A., Hecking T., & Hoppe H. U. (2013).
    <a href="http://www.collide.info/de/content/workbench-construct-and-re-use-network-analysis-workflows-concept-implementation-and-example" target="_blank">A Workbench to Construct and Re-use Network Analysis Workflows - Concept, Implementation, and Example Case</a>.
    The 2013 IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining (ASONAM 2013).</p>
</div>

<div class="container">
    <h3>Publications</h3>
    <h4>2014</h4>
    <p>Hoppe, H. U., Göhnert T., Steinert L., & Charles C. (2014).
    <a href="http://www.collide.info/de/content/web-based-tool-communication-flow-analysis-online-chats" target="_blank">A Web-based Tool for Communication Flow Analysis of Online Chats.</a>
    Hoppe, H. Ulrich, Daniel D. Suthers, (Ed.): Proceedings of the Workshop "Computational Approaches to Connecting Levels of Analysis in Networked Learning Communities" co-located with 4th International Conference on Learning Analytics and Knowledge (LAK 2014).</p>
    <p>Göhnert, T., Ziebarth S., Verheyen P., & Hoppe H. U. (2014).
    <a href="http://www.collide.info/de/content/integration-flexible-analytics-workbench-learning-platform-medical-specialty-training" target="_blank">Integration of a flexible analytics workbench with a learning platform for medical specialty training.</a>
    Hoppe, H. Ulrich, Daniel D. Suthers, (Ed.): Proceedings of the Workshop "Computational Approaches to Connecting Levels of Analysis in Networked Learning Communities" co-located with 4th International Conference on Learning Analytics and Knowledge (LAK 2014).</p>
    <h4>2013</h4>
    <p>Göhnert, T., Harrer A., Hecking T., & Hoppe H. U. (2013).
    <a href="http://www.collide.info/de/content/workbench-construct-and-re-use-network-analysis-workflows-concept-implementation-and-example" target="_blank">A Workbench to Construct and Re-use Network Analysis Workflows - Concept, Implementation, and Example Case.</a>
    The 2013 IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining (ASONAM 2013).</p>
    <p>Halatchliyski, I., Hecking T., Göhnert T., & Hoppe H. U. (2013).
    <a href="http://www.collide.info/de/content/analyzing-flow-ideas-and-profiles-contributors-open-learning-community" target="_blank">Analyzing the Flow of Ideas and Profiles of Contributors in an Open Learning Community</a>.
    Third International Conference on Learning Analytics and Knowledge. 66-74.</p>
</div>

<div class="container">
    <h3>Projects</h3>

    <div class="media">
      <a class="pull-right" href="http://www.go-lab-project.eu/" target="_blank">
        <img class="media-object" src="img/project-golab.png" alt="Go-Lab">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://www.go-lab-project.eu/" target="_blank">Go-Lab</a> (November 2012 - October 2016)</h4>
        <p>Goal of the Go-Lab project is to offer the opportunity for inquiry learning with virtual and remote online labs to students.</p>
        <p>In this project the <em>Analytics Workbench</em> is used for performing learning analytics. The used analysis workflows are created in the workbench and then incorporated into OpenSocial gadgets, from where they can be executed and in which the results will then be shown.</p>
      </div>
    </div>

    <div class="media">
          <a class="pull-right" href="http://juxtalearn.org/" target="_blank">
            <img class="media-object" src="img/project-juxtalearn.png" alt="JuxtaLearn">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="http://juxtalearn.org/" target="_blank">JuxtaLearn</a> (October 2012 - September 2015)</h4>
            <p>The main goals of JuxtaLearn are to research, develop and evaluate a pedagogical and technological framework that exploits performance to enhance science and technology learning. JuxtaLearn will encourage students to use creative activities, in particular video-making, to help them understand things they find difficult to grasp. The international project will apply to both university and school students.</p>
            <p>In this project the <em>Analytics Workbench</em> is used for analyzing learner activities. Data from the learning platform gets pushed to the analytics workbench, where prepared workflow templates are used to analyse the data. The proecssed Learning Analytics results are sent back to the learning environment afterwards.</a>
          </div>
        </div>

    <div class="media">
      <a class="pull-right" href="http://www.kolegea.de/" target="_blank">
        <img class="media-object" src="img/project-kolegea.png" alt="KOLEGEA">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://www.kolegea.de/" target="_blank">KOLEGEA</a> (October 2011 - September 2014)</h4>
        <p>The project KOLEGEA (funded by the German Ministry of Research and Education) aims to support doctors specializing in family medicine (general practice) by providing a platform for collaborative learning in occupational, social communities.</p>
        <p>In this project the <em>Analytics Workbench</em> is used for analyzing user activities on the learning platform. The used analysis workflows typically retrieve data from the platform, analyze it, and push the analysis results back to the platform for display.</a>
      </div>
    </div>

    <div class="media">
      <a class="pull-right" href="http://sisob.lcc.uma.es/" target="_blank">
        <img class="media-object" src="img/project-sisob.png" alt="SISOB">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://sisob.lcc.uma.es/" target="_blank">SISOB</a> (January 2011 - December 2013) </h4>
        <p>Goal of the EU project SISOB is offering an observatorium for science in society based on social models. An important means to reach that goal is the incorporation of current approach from the field of social network analysis.</p>
        <p>Large parts of the <em>Analytics Workbench</em> have been created during that project.</p>
      </div>
    </div>

    <div class="media">
      <a class="pull-right" href="http://www.foodweb20.de/" target="_blank">
        <img class="media-object" src="img/project-foodweb.png" alt="Foodweb 2.0">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://www.foodweb20.de/" target="_blank">Foodweb 2.0</a> (January 2011 - December 2013) </h4>
        <p>The project FoodWeb2.0 (funded by the German Ministry of Research and Education) aims at training the employees of the German food  industry using two basic strategies: Motivating employees for vocational training and performing education in collaborative,
        blended learning using Web2.0 technologies.</p>
        <p>In this project the Analytics Workbench is used to provide feedback and to stimulate reflection of teachers and decision makers w.r.t.  sucess criteria of vocational training courses. The data is retrieved by the workbench, then analyzed by prepared analysis workflow templates and stored in the learning platform afterwards for further investigation by the target groups.</p>
      </div>
    </div>

</div>

<% include includes/footer %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./lib/jquery-1.10.2.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>