@import '~styles/config/index';
@import '~styles/mixins/index';

:global {
    .json-inspector,
    .json-inspector__selection {
        font-size: $font-size-sm;
        font-family: monospace;
        line-height: 1.3;
    }

    .json-inspector__leaf {
        padding-left: $size-base;
    }

    .json-inspector__line {
        font-weight: $font-weight-base;
        display: block;
        position: relative;
        cursor: default;
        padding: $size-sm;
    }

    // .json-inspector__line:after {
    //     content: '';
    //
    //     position: absolute;
    //     top: 0;
    //     left: -200px;
    //     right: -50px;
    //     bottom: 0;
    //     z-index: -1;
    //
    //     pointer-events: none;
    // }

    .json-inspector__line:hover {
        background: $colors-black-10;
    }

    .json-inspector__leaf_composite > .json-inspector__line {
        cursor: pointer;
    }

    .json-inspector__radio,
    .json-inspector__flatpath {
        display: none;
    }

    .json-inspector__value {
        margin-left: $size-sm;
    }

    .json-inspector__search {
        min-width: 300px;
        margin: 0 10px 10px 0;
        padding: 2px;
    }

    .json-inspector__key {
        font-weight: $font-weight-bold;
        color: $colors-black;
    }

    .json-inspector__value_helper,
    .json-inspector__value_null,
    .json-inspector__not-found {
        color: $colors-black-50;
    }

    .json-inspector__value_string {
        color: $colors-black-50;
    }

    .json-inspector__value_boolean {
        color: $colors-black-50;
    }

    .json-inspector__value_number {
        color: $colors-black-50;
    }

    .json-inspector__hl {
        background: #ff0;
        box-shadow: 0 -1px 0 2px #ff0;
        border-radius: 2px;
    }

    .json-inspector__show-original {
        display: inline-block;
        padding: 0 6px;

        color: $colors-black-50;
        cursor: pointer;
    }

    .json-inspector__show-original:hover {
        color: #111;
    }

    .json-inspector__show-original:before {
        content: '⥂';
    }

    .json-inspector__show-original:hover:after {
        content: ' expand'
    }
}
