@import '~styles/config/index';
@import '~styles/mixins/index';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $colors-black-95;
}

.spinner {}

.gradientClassName {
    stop-color: $colors-white;
}

.text {
    font-weight: $font-weight-bold;
}
